.Workspace {
    &__container {
        min-width: 100%;
        height: 90%;
    }

    &__channel_container {
        min-width: 100%;
        height: 50%;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
    }

    &__feature_container {
        width: 100%;
        height: 50%;
    }
}